<%= render 'shared/header', title: "Edit Article", sub_title: "Editing Article" %>
<div class="container">
<div class="row">
<div class="col-lg-8 col-md-10 mx-auto">
<%= render 'shared/alert' %>
<%= render 'form', article: @article %>
</div>
</div>
</div>