<% if current_user %>
<%= link_to "create article", new_article_path %>
<%= link_to "My articles", my_articles_path %>
<% end %>
<div class="container">
   <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
         <%= render 'articles', articles: @articles %>
      </div>
   </div>
</div>