<%= render 'shared/header', title: "Articles", sub_title: "View Articles" %>
<div class="container">
   <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      	<%= render 'shared/alert' %>
         <%= render 'shared/articles', articles: @articles %>
      </div>
   </div>
</div>